body{
    background-color:rgb(28, 31, 32);
    font-family: "DINNextRoundedLTW01-Regular"; 
    color: white;
    margin: 0%;
}
#title{
    text-align: center;
}
#title h1{
    font-size: 36px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(50, 50, 210);
    padding: 1em;
}


.nav_options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
}
.homelink{
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: ivory;
}
.links{
    margin: 10px 10px;
    text-decoration: none;
    color: ivory;
}

.links a:visted{
    text-decoration: none;
    color: aliceblue;
}
#buttons{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 75px;
}

.button{
    
    background-color: rgb(50, 50, 210);
    color: ivory;
    box-shadow: 0 12px 0 navy;
    border: none;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "DINNextRoundedLTW01-Regular";
    text-decoration: none;
}


.button a:active{
    box-shadow: none;
    transform: translateY(12px);
    transition: 100ms;
}

.notes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.container{
    display:inline-block;
    background-color: rgb(0, 42, 128);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    color: white;
    transition: 200ms;
}
.container h4{
    text-align: center;
    font-size: 20px;
}
footer p {
    text-align: center;
}
.container:hover{
    background-color: rgb(1, 66, 195);
    border-radius: 20px;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@font-face {
    font-family: "DINNextRoundedLTW01-Regular"; 
    src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot"); 
    src: url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DINNextRoundedLTW01-Regular") format("svg"); 
  }

footer{
    padding: 1em;
    background-color: rgb(50, 50, 210);
    color: ivory;
    margin-top: 30px;
    
}

footer a{
    text-decoration: none;
    color: ivory;
}

footer a:visited{
    color: aliceblue;
}
footer p{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
footer ul{
    list-style: none;
}

a{
    text-decoration: none;

}
a:hover{
    transition: 400ms;
    color: rgb(72, 89, 106);
}

a:visited{
    color: ivory;
}

a:visited:hover{
    transition: 400ms;
    color: rgb(142, 158, 174);
}
.notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:50px
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 20px; */
} 