body{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#title{
    text-align: center;
}
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: skyblue;
}
#nav_options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}
#homelink{
    font-size: 24px;
    font-weight: 500;
}
.links{
    margin: 10px 10px;
    text-decoration: none;
}

#buttons{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 75px;
}

#buttons button{
    
    background-color: rgb(50, 50, 210);
    color: ivory;
    box-shadow: 0 12px 0 navy;
    border: none;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
}


#buttons button:active{
    box-shadow: none;
    transform: translateY(12px);
    transition: 100ms;
}

